@font-face { font-family: 'open_sans'; src: url("../fonts/opensans-bold-webfont.eot"); src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg"); font-weight: 700; font-style: normal; }
@font-face { font-family: 'open_sans'; src: url("../fonts/opensans-regular-webfont.eot"); src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg"); font-weight: 400; font-style: normal; }
@font-face { font-family: 'open_sans'; src: url("../fonts/opensans-semibold-webfont.eot"); src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg"); font-weight: 600; font-style: normal; }

body {
    font: 16px/1 open_sans, sans-serif;
    background-color: #EDEBEC;
    -webkit-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s;
}
body, html {
    padding: 0;
    margin: 0;
}
.header {
    background: #3C3C3C;
    padding: 15px 30px;
    text-align: center;
    position: relative;
}
.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: 0;
    -webkit-transition: left .25s;
    -o-transition: left .25s;
    transition: left .25s;
}
.chat_active .main {
    left: -100%;
}
.user_name {
    color: #fff;
    font-size: 20px;
    margin: 0;
}
.nav-back {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    background: url("../img/back-arrow.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    -o-transition: transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
}
.chat_active .nav-back {
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}
.profile, .chat-page {
    height: -webkit-calc(100vh - 50px);
    height: calc(100vh - 50px);
    min-width: 100vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px 80px;
    position: relative;
}
.friend .profile {
    background: mistyrose;
}
.chat_active .profile {
    max-height: -webkit-calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    overflow: hidden;
}
.user {
    padding: 50px 0 100px;
}
.user-image {
    display: block;
    width: 80vw;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}
.user-image-wrapper {
    height: 80vw;
    max-height: 400px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.user-image .online {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    background: #5AEC90;
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #fff;
}
.user-image img {
    max-width: 100%;
}
.user-description {
    color: #444444;
}
.user-description-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.user-description_text {
    max-height: 64px;
    overflow-y: scroll;
}
.user-description_name {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 5px 0;
}
.user-description_city {
    font-size: 15px;
    color: #FD4582;
    margin: 0 0 10px 0;
}
.star {
    display: inline-block;
    width: 20px;
}
.star .st0 {
    fill: #FFFFFF;
    stroke: #000;
    stroke-width: 10px;
}
.star.liked .st0 {
    fill: #FCAF17;
    stroke-width: 0;
}
.add_friend {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 95%;
    max-width: 400px;
    text-decoration: none;
    background: #3C3C3C;
    color: #F5F5F5;
    line-height: 70px;
    text-align: center;
    font-size: 22px;
    -webkit-transition: background .25s;
    -o-transition: background .25s;
    transition: background .25s;
}
.friend .add_friend {
    background-color: lightpink;
}
.chat-page {
    padding-top: 50px;
}
.chat {
    height: -webkit-calc(100vh - 150px);
    height: calc(100vh - 150px);
    max-height: none;
    /*max-height: 75vh;*/
    overflow-y: scroll;
}
.message {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.message-user_image {
    display: inline-block;
    position: relative;
}
.message-user_image--wrap {
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin-right: 12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.message-user_image img {
    width: 100%;
}
.message_online {
    position: absolute;
    right: 0;
    top: 45px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    width: 17px;
    height: 17px;
    background: #73BC54;
}
.message-text {
    width: 60%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    background: #fff;
    position: relative;
}
.message-text:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -10px;
    border: 8px solid transparent;
    border-top: 8px solid #fff;
    border-right: 8px solid #fff;
}
.message.partner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.message.partner .message-user_image--wrap {
    margin: 0 0 0 12px;
}
.message.partner .message-text {
    background: #54BAE2;
}
.message.partner .message-text:before {
    left: auto;
    right: -10px;
    border-left: 8px solid #54BAE2;
    border-top: 8px solid #54BAE2;
    border-right: 8px solid transparent;
}
.input-holder {
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 90%;
    height: 30px;
    margin-left: 5px;
    background: #fff;
}
.input-holder:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -10px;
    border: 8px solid transparent;
    border-top: 8px solid #fff;
    border-right: 8px solid #fff;
}
.input-holder textarea {
    width: 98%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 30px;
    border: none;
    padding: 0 20px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none!important;
}

@media screen and (min-width: 320px) and (orientation: landscape) {
    .profile {
        height: auto;
    }
    .user-description_text {
        max-height: none;
        overflow-y: auto;
    }
    .chat-page {
        padding-top: 20px;
    }
}
